<!-- <amplify-authenticator></amplify-authenticator> -->
<!-- <amplify-authenticator
  [usernameAttributes]="usernameAttributes"
></amplify-authenticator> -->
<!-- <amplify-authenticator [signUpConfig]="signUpConfig"></amplify-authenticator> -->

<!-- <amplify-auth-confirm-sign-in></amplify-auth-confirm-sign-in> -->
<!-- <amplify-auth-confirm-sign-up></amplify-auth-confirm-sign-up> -->
<!-- <amplify-auth-forgot-password></amplify-auth-forgot-password> -->
<!-- <amplify-auth-greetings></amplify-auth-greetings> -->
<!-- <amplify-auth-require-new-password></amplify-auth-require-new-password> -->
<!-- <amplify-auth-sign-in></amplify-auth-sign-in> -->
<!-- <amplify-auth-sign-up [signUpConfig]="signUpConfig"></amplify-auth-sign-up> -->
<!-- [signUpConfig]="signUpConfig" -->
<amplify-auth-sign-up></amplify-auth-sign-up>
